extends layout

block content
  div.hero
    h1 A place for answers about addiction &amp; recovery.

  div.features
    div.feature
      h3 Answers
      p Are you addicted to substances or behaviors? Do you know someone who is? Find answers to many common questions about addiction and recovery.
      div.feature-cta Explore &raquo;
    div.feature
      h3 Stories
      p Watch short videos of people who are in recovery from addiction to substances or behaviors. Find out what works for them.
      div.feature-cta View &raquo;

    div.feature
      h3 Reflections
      p Read thoughts on issues related to addiction and recovery from experts in the field. 
      div.feature-cta Read &raquo;

  

